<h1>Log In Via StockTwits</h1>

<p>This application utilizes your Stocktwits username and password for authentication; you do not have to create a separate account here. To log in, just enter your Stocktwits credentials in the form below.</p>

<%= render :partial => 'login_form' %>
